html
{
    background-color: whitesmoke;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculator
{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: dimgray;
    border: 5px solid;
    border-color: dimgray;
    border-radius: 5px;
}

.row
{
    width: 390px;
    height: 75px;
    /* background-color: lightgrey; */
    display: flex;
    justify-content: space-evenly;
}

#row-one
{
    height: 100px;
}

#display
{
    background-color: lightgrey;
    height: 100px;
    width: 390px;
    border-radius: 5px;
    text-align: right;
    font-size: 64px;
    line-height: 100px;
}

button
{
    width: 100px;
    border-radius: 5px;
    background-color: dodgerblue;
    font-size: xx-large;
}

.function-button
{
    background-color: orange;
}

.number-button
{
    background-color: teal;
}

#delete-button
{
    background-color: tomato;
}
